aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
my-plugin-*.tar.*
*~
Makefile
.deps
.libs
*.l[oa]
m4/
compile
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/gstreamer1.0-sonyalphalive.debhelper.log
debian/gstreamer1.0-sonyalphalive.substvars
debian/gstreamer1.0-sonyalphalive/
